/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
}
body {
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}
